.board {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

th {
    font-size: x-large;
    padding-right: 1rem;
    border-bottom: black;
}

.gameBoard td {
    width: 5rem;
    height: 5rem;
}

table.gameBoard .row{
    background-color: #f1e8d8;
}

table.gameBoard .row2{
    background-color: #8d3c1e;
}

.piece{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.selected{
    background-color: #fffc5c;
}