.creator{
    background-color: rgb(82, 78, 78);
    border-radius: 25px;
    padding: 20px;
    color: white;
}

.joiner {
    background-color: rgb(82, 78, 78);
    border-radius: 25px;
    padding: 20px;
    color: white;
}